# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Explicitly include dags directory
!dags/
